/frontend/target
/library/target
/messenger/target
/usuario/target
/model/target
/utils/target
/schema/target
/webapp-test/target
/.idea
/API/User/.api.output
/API/Group/.api.output
/docker/private
/z.deprecated.library