/frontend/target
/library/target
/messenger/target
/usuarioLdap/target
/userKc/target
/model/target
/utils/target
/schema/target
/webapp-test/target
/.idea
.idea/modules.xml
/API/User/.api.output
/API/Group/.api.output
/docker/private
/docker/Software
/z.deprecated.library
API/.api.output