# NGINX CONFIGURATION FOR REVERSE PROXY OF KEYCLOAK

upstream keycloak {
    server keycloaket:${PORT_KEYCLOAK};
}

server {
    listen 80;
    server_name ${KC_PUBLIC_ADDRESS};
    return 301 https://${DOLLAR}host${DOLLAR}request_uri;
}

server {
    listen 443 ssl;
    server_name ${KC_PUBLIC_ADDRESS};

    ssl_certificate /opt/myjava/certs/kc.crt;
    ssl_certificate_key /opt/myjava/certs/kc.unsecure.key;

    location / {
        proxy_pass https://keycloak;
        proxy_set_header Host ${DOLLAR}host;
        proxy_set_header X-Real-IP ${DOLLAR}remote_addr;
        proxy_set_header X-Forwarded-For ${DOLLAR}proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto ${DOLLAR}scheme;
        proxy_set_header X-Forwarded-Host ${DOLLAR}host;
        proxy_set_header X-Forwarded-Port ${DOLLAR}server_port;
    }

    location /nginx/health {
        access_log off;
        add_header 'Content-type' 'application/json';
        return 200 '{"status":"UP"}';
    }
}