<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>La eTienda | Mockup site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <!-- STYLES -->
    <link href="bootstrap/5.3.8/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap/icons/1.13.1/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="styles/style-md.css" rel="stylesheet" />
    <link href="styles/style.css" rel="stylesheet" />

    <!-- SCRIPTS -->
    <script src="bootstrap/5.3.8/js/bootstrap.bundle.min.js"></script>
    <script src="scripts/script.js"></script>

</head>
<body>
<header>
    <nav class="navbar bg-body-tertiary" data-bs-theme="dark">

        <a class="navbar-brand mx-2" href="#">
            <i class="bi bi-shop"></i>
            La eTienda
        </a>

        <div class="navbar-item dropdown order-md-last mx-2">
            <a class="dropdown-toggle btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill"></i>
                <span th:text="${#authentication.name}">Username</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#Settings">
                    <i class="bi bi-gear"></i>
                    Settings
                </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">
                    <i class="bi bi-box-arrow-right"></i>
                    Log Out
                </a></li>
            </ul>
        </div>

        <form class="w-100 w-md-50 m-1" role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search"/>
        </form>

    </nav>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#home" th:href="@{${@tt.href('seo.home.file')}">
                <i class="bi bi-house-door-fill"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#setting" th:href="@{${@tt.href('seo.manage.file')}}">
                Settings
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#companies" th:href="@{${@tt.href('seo.company.manage.file')}}">
                Companies
            </a>
        </li>
        <li  class="breadcrumb-item active" aria-current="page">
              Cortes de la villa
        </li>
      </ol>
    </nav>
</header>
<main>
    <!-- SETTINGS -->
    <div id="Settings">
        <h1 class="text-center my-2">Settings</h1>
        <div class="row mx-1">
            <div class="card card-hover col-md-2 col-xl-1 m-1">
                <div class="card-body text-center">
                    <a class="text-decoration-none text-dark stretched-link"
                       href="/manage/users/{userId}"
                    >
                        <i class="bi bi-person-gear d-md-none"></i>
                        User profile
                    </a>
                </div>
                <img src="bootstrap/icons/1.13.1/person-gear.svg"
                     class="card-img-bottom w-50 d-none d-md-block"
                     alt="User profile settings">
            </div>
            <div class="card card-hover col-md-2 col-xl-1 m-1">
                <div class="card-body text-center">
                    <a class="text-decoration-none text-dark stretched-link"
                       href="/manage/companies"
                    >
                        <i class="bi bi-building-gear d-md-none"></i>
                        Companies
                    </a>
                </div>
                <img src="bootstrap/icons/1.13.1/building-gear.svg"
                     class="card-img-bottom w-50 d-none d-md-block"
                     alt="User profile settings">
            </div>
        </div>
    </div>

    <!-- COMPANIES -->
    <div id="companies">
        <h1 class="text-center my-2">Companies</h1>

        <div class="row mx-1">
            <div class="card card-hover col-md-2 col-xl-1 m-1">
                <div class="card-body text-center">
                    <a class="text-decoration-none text-dark stretched-link"
                       href="/manage/company/1"
                    >
                        Cortes de la Villa
                    </a>
                </div>
                <img src="bootstrap/icons/1.13.1/image.svg"
                     class="card-img-bottom w-50 d-none d-md-block"
                     alt="Cortes de la villa">
            </div>
            <div class="card card-hover col-md-2 col-xl-1 m-1">
                <div class="card-body text-center">
                    <a class="text-decoration-none text-dark stretched-link"
                       href="/manage/company/2"
                    >
                        Cafeteros
                    </a>
                </div>
                <img src="bootstrap/icons/1.13.1/image.svg"
                     class="card-img-bottom w-50 d-none d-md-block"
                     alt="Cafeteros">
            </div>
            <div class="card card-hover border-primary col-md-2 col-xl-1 m-1">
                <div class="card-body text-center">
                    <a class="text-decoration-none text-primary stretched-link"
                       href="#createCompany"
                    >
                        <i class="bi bi-building-add"></i>
                        Create Company
                    </a>
                </div>
                <svg class="bi text-primary w-50 d-none d-md-block"
                     fill="currentColor"
                     role="img" aria-label="building-add">
                    <use href="#building-add"/>
                </svg>
            </div>
        </div>
    </div>

    <!-- COMPANY -->
    <div id="CortesDeLaVilla">
        <h1 class="text-center my-2">Cortes de la Villa</h1>
        <form class="mx-1"
              post="/manage/company/{companyId}/update/name?redirect=/manage/company/{companyId}"
              id="companyNameForm"
        >
            <div class="row">
                <label class="col-12 col-md-2 col-form-label text-md-end"
                        for="companyNameInput">
                    Company name:
                </label>

                <div class="col-12 col-md-10">
                    <div class="input-group has-validation">
                        <input type="text" id="companyNameInput"
                               class="form-control is-invalid"
                               placeholder="Insert the name of the new company"
                               value="Cortes de la Villa"
                               aria-describedby="inputGroupPrepend3 companyNameInputValidation"
                               readonly required
                        >
                        <!-- Edit button -->
                        <button class="btn btn-outline-primary"
                                id="companyNameInputEditBtn"
                                for="companyNameInput"
                                type="button"
                        >
                            <i class="bi bi-pencil-square"></i>
                            <span class="d-none d-md-inline">
                                Edit
                            </span>
                        </button>
                        <!-- Cancel button -->
                        <button class="btn btn-outline-danger d-none"
                                id="companyNameInputCancelBtn"
                                for="companyNameInput"
                                type="button"
                        >
                            <i class="bi bi-x-circle-fill"></i>
                            <span class="d-none d-md-inline">
                                Cancel
                            </span>
                        </button>
                        <!-- Save button -->
                        <button class="btn btn-outline-success d-none"
                                id="companyNameInputSaveBtn"
                                type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#companyNameInputModal"
                        >
                            <i class="bi bi-floppy"></i>
                            <span class="d-none d-md-inline">
                                Save
                            </span>
                        </button>
                        <div id="companyNameInputValidation"
                                class="is-invalid invalid-feedback"
                        >
                            Not accepted :(
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="companyNameInputModal"
                             tabindex="-1"
                             aria-labelledby="companyNameInputModalLabel" aria-hidden="true"
                        >
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="companyNameInputModalLabel">Update company name</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to modify your company name?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                        <button type="submit" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- SVG -->
    <div class="d-none">
        <svg xmlns="http://www.w3.org/2000/svg">
            <!-- each icon is a <symbol> with its own id -->
            <symbol id="building-add" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0"/>
                <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z"/>
                <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
            </symbol>
        </svg>
    </div>
</main>
<footer>
</footer>

</body>
</html>