<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>La eTienda | Mockup site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <!-- STYLES -->
    <link th:href="@{/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/bootstrap/icons/1.13.1/bootstrap-icons.min.css}" rel="stylesheet" />
    <link th:href="@{/styles/style-md.css}" rel="stylesheet" />
    <link th:href="@{/styles/style.css}" rel="stylesheet" />

    <!-- SCRIPTS -->
    <script th:src="@{/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
    <script type="module" th:src="@{/scripts/Company.js}"></script>

</head>
<body>
<header>
    <nav class="navbar bg-body-tertiary" data-bs-theme="dark">

        <a class="navbar-brand mx-2" href="#">
            <i class="bi bi-shop"></i>
            La eTienda
        </a>

        <div class="navbar-item dropdown order-md-last mx-2">
            <a class="dropdown-toggle btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill"></i>
                <span th:text="${#authentication.name}">Username</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#Settings">
                    <i class="bi bi-gear"></i>
                    Settings
                </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">
                    <i class="bi bi-box-arrow-right"></i>
                    Log Out
                </a></li>
            </ul>
        </div>

        <form class="w-100 w-md-50 m-1" role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search"/>
        </form>

    </nav>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#home" th:href="@{${@tt.href('seo.home.file')}}">
                <i class="bi bi-house-door-fill"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#setting" th:href="@{${@tt.href('seo.manage.file')}}">
                Settings
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#companies" th:href="@{${@tt.href('seo.company.manage.file')}}">
                Companies
            </a>
        </li>
        <li  class="breadcrumb-item active" aria-current="page">
              Cortes de la villa
        </li>
      </ol>
    </nav>
</header>
<main class="container mb-5">
    <!-- SETTINGS -->
    <div id="Settings">
        <h1 class="text-center my-2">Settings</h1>
        <div class="row">
            <th:block th:replace="~{layout/bootstrap.html ::cardWithLinkHover(
                title='User profile',
                icon='person-gear',
                link='/manage/user/{userId}',
                alt='Manage user profile'
            )}"></th:block>
            <th:block th:replace="~{layout/bootstrap.html ::cardWithLinkHover(
                title='Companies',
                icon='building-gear',
                link='/manage/companies',
                alt='Manage companies'
            )}"></th:block>
        </div>
    </div>

    <!-- COMPANIES -->
    <div id="companies">
        <h1 class="text-center my-2">Companies</h1>

        <div class="row">
            <th:block th:replace="~{layout/bootstrap.html ::cardWithLinkHover(
                title='Cortes de la Villa',
                icon='image',
                link='/manage/company/{vanityUrl}',
                alt='Manage Cortes de la Villa'
            )}"></th:block>
            <th:block th:replace="~{layout/bootstrap.html ::cardWithLinkHover(
                title='Cafeteros',
                icon='image',
                link='/manage/company/{vanityUrl}',
                alt='Manage Cafeteros'
            )}"></th:block>
            <th:block th:replace="~{layout/bootstrap.html ::cardWithLinkHover(
                title='Create Company',
                icon='building-add',
                link='/manage/company/create',
                alt='Create new company'
            )}"></th:block>
        </div>
    </div>

    <!-- EDIT COMPANY -->
    <div id="CortesDeLaVilla">
        <h1 class="text-center my-2">Cortes de la Villa</h1>
        <!-- Update Company name -->
        <form action="/manage/company/{companyId}/update/name?redirect=/manage/company/{companyId}"
              method="post"
              id="companyNameForm"
        >
            <th:block th:replace="~{layout/bootstrap.html :: inputWithButtonsAndFeedbackAndResponsive(
                id='companyNameForm',
                type='text',
                label='Company Name',
                placeholder='Insert the name of the company.',
                value='Cortes de la Villa',
                options=null,
                modalTitle='Update Company Name',
                modalBody='Are you sure you want to modify the name of the company?',
                onInputBefore=null,
                success=null,
                error=null
            )}"></th:block>
        </form>
        <!-- Update company vanityUrl -->
        <form action="/manage/company/{companyId}/update/vanityUrl?redirect=/manage/company/{companyId}"
              method="post"
              id="companyVanityUrlForm"
        >
            <div th:replace="~{layout/bootstrap.html :: inputWithButtonsAndFeedbackAndResponsive(
                id='companyVanityUrl',
                type='text',
                label='Vanity URL',
                placeholder='How do you want your company to look like on internet.',
                value='villaCortes',
                options=null,
                modalTitle='Update Company Vanity URL',
                modalBody='Are you sure you want to modify your company vanity URL? Users will have to modify their bookmarks, and links on social networks should be updated.',
                onInputBefore=|${@tt.href('seo.url')}/|,
                success='This message should not be displayed',
                error='White spaces and symbols are forbidden, only alphanumeric characters are accepted'
            )}"></div>
        </form>
        <!-- Update owner -->
        <form action="/manage/company/{companyId}/update/owner?redirect=/manage/company/{companyId}"
              method="post"
              id="companyOwnerForm"
        >
            <th:block th:replace="~{layout/bootstrap.html :: inputWithButtonsAndFeedbackAndResponsive(
                id='companyOwner',
                type='datalist',
                label='Owner',
                placeholder='Select the owner of the company.',
                value='Lyda Cortes',
                options=${ {'Lyda Cortes', 'Eliana Cortes', 'David Cuervo'} },
                modalTitle='Update Company Owner',
                modalBody='Are you sure you want other person the owns the company? You can not undo this modification, only owner can modify the owner.',
                onInputBefore=null,
                success='The owner of the company has been updated successfully!!',
                error=null
            )}"></th:block>
        </form>
        <!-- Update Member policy -->
        <form action="/manage/company/{companyId}/update/policy"
              method="post"
              id="companyPolicyForm"
        >
            <th:block th:replace="~{layout/bootstrap.html ::inputWithSaveButtonAndFeedbackAndResponsive(
                id = 'companyPolicy',
                type = 'select',
                label = 'Company policy',
                placeholder = 'Select the policy for new members of the company',
                value = 'PUBLIC',
                options = ${ {'PUBLIC', 'REGISTRATION_REQUIRED', 'AUTHORIZATION_REQUIRED'} },
                onInputBefore = null,
                attributes = null,
                success = null,
                error = 'Policy of company can not be modified.'
            )}"></th:block>
        </form>
        <!-- Update description -->
        <form action="/manage/company/{companyId}/update/description?redirect=/manage/company/{companyId}"
              method="post"
        >
            <th:block th:replace="~{layout/bootstrap.html ::inputWithSaveButtonAndFeedbackAndResponsive(
                id='updateCompanyDescription',
                type='textarea',
                label='Description',
                placeholder='Insert the description of the company.',
                value='Hostel to stay in Villa de Leyva. Next to the main park of the town.',
                options = null,
                onInputBefore=null,
                attributes = null,
                success=null,
                error='Description is to short'
            )}"></th:block>
        </form>
        <!-- Members -->
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">Member name</th>
                    <th scope="col" class="text-center">Manager</th>
                    <th scope="col" class="text-center">Enabled</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:with="userId='user1'">
                    <td th:text="${'Lyda Cortes'}">Member Name</td>
                    <td class="text-center">
                        <form action="/manage/company/{companyId}/addManager/"
                              method="post"
                              class="checkBoxWithModal"
                        >
                            <th:block th:replace="~{layout/bootstrap.html :: inputWithFeedback(
                                id = |${userId}ManagerCheckBoxInput|,
                                type = checkbox,
                                label = null,
                                placeholder = null,
                                value = ${userId},
                                options = null,
                                attributes = ${ {'checked'} },
                                success = 'Manager added successfully',
                                error = null
                            )}"></th:block>
                            <th:block th:replace="~{layout/bootstrap.html :: modal(
                                id=|${userId}ManagerCheckBoxModal|,
                                title='Modify company manager',
                                body='You are about to modify manager of the company. Do you want to continue?'
                            )}"></th:block>
                        </form>
                    </td>
                    <td class="text-center">
                        <form action="/manage/company/{companyId}/blockUser/"
                              method="post"
                              class="checkBoxWithModal"
                        >
                            <th:block th:replace="~{layout/bootstrap.html :: inputWithFeedback(
                                id = |${userId}AcceptMemberCheckBox|,
                                type = checkbox,
                                label = null,
                                placeholder = null,
                                value = ${userId},
                                options = null,
                                attributes = ${ {'checked'} },
                                success = null,
                                error = 'Member does have valid email address.'
                            )}"></th:block>
                            <th:block th:replace="~{layout/bootstrap.html :: modal(
                                id=|${userId}AcceptMemberCheckBoxModal|,
                                title='Modify member access (accept | block)',
                                body='You are about to accept/block user. Do you want to continue?'
                            )}"></th:block>
                        </form>
                    </td>
                </tr>
                <tr th:with="userId='user2'">
                    <td th:text="${'David Ricardo Cuervo Ochoa Avila Rodrigez'}">Member Name</td>
                    <td class="text-center">
                        <form action="/manage/company/{companyId}/addManager/"
                              method="post"
                        >
                            <input type="checkbox"
                                   th:id="|${userId}EnabledCheckBoxInput|"
                                   th:value="${userId}"
                            >
                        </form>
                    </td>
                    <td class="text-center">
                        <form action="/manage/company/{companyId}/blockUser/">
                            <input type="checkbox" value="userId2" checked>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- CREATE COMPANY -->
    <div>
        <h1 class="text-center">Create new company</h1>
        <form action="/manage/company/create"
              method="post"
        >
            <!-- Company name -->
            <th:block th:replace="~{layout/bootstrap.html ::inputWithFeedbackAndResponsive(
                id = 'createCompanyName',
                type = 'text',
                label = 'Company name',
                placeholder = 'Insert the name of the company.',
                value = null,
                options = null,
                onInputBefore = null,
                attributes = ${ {'required'} },
                success =null,
                error = null
            )}"></th:block>

            <!-- Company name -->
            <th:block th:replace="~{layout/bootstrap.html ::inputWithFeedbackAndResponsive(
                id = 'createCompanyVanityUrl',
                type = 'text',
                label = 'Vanity URL',
                placeholder = 'How do you want your company to look like on internet.',
                value = null,
                options = null,
                onInputBefore = |${@tt.href('seo.url')}/|,
                attributes = null,
                success = null,
                error = null
            )}"></th:block>

            <!-- Company Owner -->
            <th:block th:replace="~{layout/bootstrap.html ::inputWithFeedbackAndResponsive(
                id = 'createCompanyOwner',
                type = 'text',
                label = 'Owner',
                placeholder = 'Type the username of the owner of the company.',
                value = 'Lyda Cortes',
                options = null,
                onInputBefore = null,
                attributes = ${ {'readonly' , 'disabled'} },
                success = null,
                error = null
            )}"></th:block>

            <!-- Company policy -->
            <th:block th:replace="~{layout/bootstrap.html ::inputWithFeedbackAndResponsive(
                id = 'createCompanyPolicy',
                type = 'select',
                label = 'Policy',
                placeholder = 'Select the policy for new members of the company',
                value = 'Lyda Cortes',
                options = ${ {'PUBLIC', 'REGISTRATION_REQUIRED', 'AUTHORIZATION_REQUIRED'} },
                onInputBefore = null,
                attributes = null,
                success = null,
                error = null
            )}"></th:block>

            <!-- Company policy -->
            <th:block th:replace="~{layout/bootstrap.html ::inputWithFeedbackAndResponsive(
                id = 'createCompanyDescription',
                type = 'textarea',
                label = 'Description',
                placeholder = 'Type the description of the company.',
                value = null,
                options = null,
                onInputBefore = null,
                attributes = null,
                success = null,
                error = null
            )}"></th:block>
            <button type="submit" class="btn btn-primary col-12 offset-md-4 col-md-4">
                <i class="bi bi-building-add"></i>
                Create
            </button>
        </form>
    </div>

    <!-- COMPANY FOR PUBLIC -->
    <div>
        <h1 class="text-center">Cortes de la Villa</h1>
        <!-- Company logo and registration -->
        <div class="d-md-flex justify-content-between bg-secondary"
             style="--bs-bg-opacity: 0.1;"
        >
            <img class="w-100 px-3 px-md-0 clip-path-md-circle"
                 th:src="@{/bootstrap/icons/1.13.1/image.svg}"
                 alt="image"
            >
            <div class="align-self-end me-md-3 pb-3">
                <p class="text-center text-md-end">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac laoreet quam, id aliquet nisl. Etiam id eros ligula. Aenean euismod, enim sed mollis feugiat, magna massa cursus leo, ut maximus metus eros non ante.</p>
                <form
                        class="text-center text-md-end"
                        th:action="@{/company/{vanityUrl}/register}"
                        method="post"
                >
                    <button class="btn btn-primary"
                            type="submit"
                            name="submit"
                            th:value="${userId}"
                    >
                        <i class="bi bi-plus-circle"></i>
                        Register Now
                    </button>
                </form>
            </div>
        </div>
        <!-- Search products and services -->
        <form class="my-2 w-md-50 mx-auto"
              th:action="@{/company/{vanityUrl}/search}"
              method="post"
        >
            <div class="input-group">
                <input type="text"
                       class="form-control rounded-pill rounded-end-0"
                       placeholder="Search products and services"
                       aria-label="Search products and services"
                       aria-describedby="searchProductsBtn"
                >
                <button id="searchProductsBtn"
                        class="btn btn-outline-secondary rounded-pill rounded-start-0"
                        type="submit"
                        name="submit"
                        th:value="${companyId}"
                >
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
        <!-- Services & products -->
        <div class="row">
            <div class="d-flex align-items-start border d-md-block col-md-3">
                <img th:src="@{/bootstrap/icons/1.13.1/image.svg}"
                     class="card-img-top w-100"
                     alt="image"
                >
                <div class="ms-2">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    <a href="#" class="card-link">Learn more</a>
                </div>
            </div>
            <div class="d-flex align-items-start border d-md-block col-md-3">
                <img th:src="@{/bootstrap/icons/1.13.1/image.svg}"
                     class="card-img-top w-100"
                     alt="image"
                >
                <div class="ms-2">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    <a href="#" class="card-link">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
</footer>

</body>
</html>