<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/simple.html}"
>
<head>
    <title>Manage companies</title>
</head>
<body>
    <main layout:fragment="content" class="container mb-5">
        <h1 class="text-center my-2">Companies</h1>

        <div class="row">
            <th:block th:each="company : ${@comp.managedCompanies}">
                <th:block th:replace="~{layout/bootstrap.html ::cardWithLinkHover(
                    title=${company.name},
                    icon='image',
                    link=@{${@tt.href('seo.manage.company.find', company.vanityUrl)}},
                    alt=${company.name}
                )}"></th:block>
            </th:block>
            <th:block th:replace="~{layout/bootstrap.html ::cardWithLinkHover(
                title='Cortes de la Villa',
                icon='image',
                link='/manage/company/{vanityUrl}',
                alt='Manage Cortes de la Villa'
            )}"></th:block>
            <th:block th:replace="~{layout/bootstrap.html ::cardWithLinkHover(
                title='Cafeteros',
                icon='image',
                link='/manage/company/{vanityUrl}',
                alt='Manage Cafeteros'
            )}"></th:block>
            <th:block th:replace="~{layout/bootstrap.html ::cardWithLinkHover(
                title='Create Company',
                icon='building-add',
                link=@{${@tt.href('seo.manage.company.create')}},
                alt='Create new company'
            )}"></th:block>
        </div>
    </main>
</body>
</html>