<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/management.html}"
>
<head>
    <title>Manage Groups</title>
</head>
<body>
<div layout:fragment="management">
    <h2 class="pb-2 border-bottom">Manage Groups</h2>
    <table class="table">
        <tr class="table-dark">
            <th scope="col">Group</th>
            <th scope="col">Description</th>
            <th></th>
        </tr>
        <tr th:each="group : ${groups}">
            <td th:text="${group.key}">Group Name</td>
            <td th:text="${group.value.description}">Description</td>
            <td>
                <a th:href="@{|/manage/group.html?groupname=${group.key}|}" title="Group Details" alt="Show" class="btn btn-primary">Show</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>