<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/management.html}"
>
<head>
    <title>Site Management</title>
</head>
<body>
  <div layout:fragment="management">
      <h2 class="pb-2 border-bottom">Site Management</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
              <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                  <svg class="bi" width="2em" height="2em"><use th:xlink:href="@{/bootstrap/icons/1.8.1/bootstrap-icons.svg#person-fill}"/></svg>
              </div>
              <div>
                  <h2>Users</h2>
                  <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                  <a th:href="@{/manage/users.html}" class="btn btn-primary">
                      Manage Users
                  </a>
              </div>
          </div>
          <div class="col d-flex align-items-start">
              <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                  <svg class="bi" width="2em" height="2em"><use th:xlink:href="@{/bootstrap/icons/1.8.1/bootstrap-icons.svg#people-fill}"/></svg>
              </div>
              <div>
                  <h2>Groups</h2>
                  <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                  <a th:href="@{/manage/groups.html}" class="btn btn-primary">
                      Manage Groups
                  </a>
              </div>
          </div>
      </div>
  </div>

</body>
</html>