<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/management.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
</head>
<body>
    <div layout:fragment="management">
        <h2 class="pb-2 border-bottom">Manage Users</h2>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">USERNAME</th>
                    <th scope="col">FULL NAME</th>
                    <th></th>
                </tr>
            </thead>
            <tbody th:each="user : ${users}">
                <tr>
                    <td th:text="${user.key}">username</td>
                    <td th:text="${user.value.fullName}">full name</td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="username" th:value="${user.key}">
                            <input type="hidden" th:name="${_csrf.parameterName}", th:value="${_csrf.token}" />
                            <button type="submit" name="action" th:value="DELETE">Remove</button>
                        </form>
                    </td>
                </tr>
                <tr th:if="${postErrors != null and postErrors.get(user.key) != null}">
                    <td colspan="3" class="text-danger">
                        <ul th:each="error : ${postErrors.get(user.key).errors}" class="list-unstyled ">
                            <li>
                                <ul th:each="detail : ${error.value}">
                                    <li th:text="${detail}">error detail</li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>