<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/management.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
</head>
<body>
    <div layout:fragment="management">
        <h1 class="text-center">Manage Users</h1>
        <div class="row">
            <div class="col">USERNAME</div>
            <div class="col">FULL NAME</div>
            <div class="col"></div>
        </div>
        <div class="row" th:each="user : ${users}">
            <div class="col" th:text="${user.key}">username</div>
            <div class="col" th:text="${user.value.fullName}">full name</div>
            <div class="col">
                <a class="#" role="button" href="#" alt="tbd" title="tbd">Remove</a>
            </div>
        </div>
    </div>
</body>
</html>