<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/simple.html}"
>
    <head>
        <title>Manage companies</title>
        <script type="module" th:src="@{/scripts/Company.js}"></script>
    </head>
    <body>
        <main layout:fragment="content" class="container mb-5">
            <h1 class="text-center my-2">Cortes de la Villa</h1>

            <!-- TESTING -->
            <div th:if="${@comp.isCompanyTestTemplateEnabled()}">
                <div th:each = "member : ${@comp.getManagers(company)}">
                    <div>member userId: <span th:text="${member.value}">userId</span></div>
                    <div>Full Name: <span th:text="${member.label}">Full Name</span></div>
                </div>
                <div>Owner: <span th:text="${company.owner}">Owner</span></div>
                <div>Policy: <span th:text="${company.memberPolicy}">policy</span></div>
                <div th:each="policy : ${@comp.allCompanyMemberPolicies}">
                    <div>Policy option: <span th:text="${policy.value}">policy option</span></div>
                </div>
                <div th:each="member : ${@comp.getMembers(company)}"
                    th:with="user=${@usr.getUser(member.value)}"
                >
                    <div>Full Name: <span th:text="${user.fullName}">Full name</span></div>
                    <div>is manager: <span th:text="${@comp.isManager(company, user.id) ? 'true' : 'false'}">is Manager</span></div>
                </div>
                <div th:each="error : ${ {'first mistake', 'second mistake', 'third mistake'} }">
                    Error: <span th:text="${error}">error</span>
                </div>
            </div>
            <!-- Update Company name -->
            <form th:action="@{${@tt.href('seo.manage.company.update.pattern', company.vanityUrl, 'name')}}"
                  method="post"
                  id="companyNameForm"
            >
                <th:block th:replace="~{layout/bootstrap.html :: inputWithButtonsAndFeedbackAndResponsive(
                    id='companyNameForm',
                    action='update company name',
                    type='text',
                    label='Company Name',
                    placeholder='Insert the name of the company.',
                    name='name',
                    value=${company.name},
                    options=null,
                    modalTitle='Update Company Name',
                    modalBody='Are you sure you want to modify the name of the company?',
                    onInputBefore=null,
                    success=${feedback.hasSuccess('name') ? feedback.getSuccess('name') : null},
                    hasErrors=${feedback.hasErrors('name')},
                    errors=${feedback.getErrors('name')}
                )}"></th:block>
            </form>
            <!-- Update company vanityUrl -->
            <form th:action="@{${@tt.href('seo.manage.company.update.pattern', 'vanityUrl', company.vanityUrl)}}"
                  method="post"
                  id="companyVanityUrlForm"
            >
                <div th:replace="~{layout/bootstrap.html :: inputWithButtonsAndFeedbackAndResponsive(
                    id='companyVanityUrlForm',
                    action='update company vanity url',
                    type='text',
                    label='Vanity URL',
                    placeholder='How do you want your company to look like on internet.',
                    name='vanityUrl',
                    value=${company.vanityUrl},
                    options=null,
                    modalTitle='Update Company Vanity URL',
                    modalBody='Are you sure you want to modify your company vanity URL? Users will have to modify their bookmarks, and links on social networks should be updated.',
                    onInputBefore=|${@tt.href('seo.url')}/|,
                    success='This message should not be displayed',
                    hasErrors=false,
                    errors=null
                )}"></div>
            </form>
            <!-- Update owner -->
            <form th:action="@{${@tt.href('seo.manage.company.update.pattern', 'owner', company.vanityUrl)}}"
                  method="post"
                  id="companyOwnerForm"
            >
                <th:block th:replace="~{layout/bootstrap.html :: inputWithButtonsAndFeedbackAndResponsive(
                    id='companyOwnerForm',
                    action='update company owner',
                    type='select',
                    label='Owner',
                    placeholder='Select the owner of the company.',
                    name='owner',
                    value=${company.owner},
                    options=${@comp.getManagers(company)},
                    modalTitle='Update Company Owner',
                    modalBody='Are you sure you want other person the owns the company? You can not undo this modification, only owner can modify the owner.',
                    onInputBefore=null,
                    success='The owner of the company has been updated successfully!!',
                    hasErrors=false,
                    errors=null
                )}"></th:block>
            </form>
            <!-- Update Member policy -->
            <form action="/manage/company/{companyId}/update/policy"
                  method="post"
                  id="companyPolicyForm"
            >
                <th:block th:replace="~{layout/bootstrap.html ::inputWithSaveButtonAndFeedbackAndResponsive(
                    id = 'companyPolicyForm',
                    action = 'update company policy',
                    type = 'select',
                    label = 'Company policy',
                    placeholder = 'Select the policy for new members of the company',
                    name='memberPolicy',
                    value = ${company.memberPolicy.name()},
                    options = ${@comp.allCompanyMemberPolicies},
                    onInputBefore = null,
                    attributes = null,
                    success = null,
                    hasErrors = false,
                    errors = null
                )}"></th:block>
            </form>
            <!-- Update description -->
            <form action="/manage/company/{companyId}/update/description?redirect=/manage/company/{companyId}"
                  method="post"
                  id="updateCompanyDescriptionForm"
            >
                <th:block th:replace="~{layout/bootstrap.html ::inputWithSaveButtonAndFeedbackAndResponsive(
                    id='updateCompanyDescriptionForm',
                    action = 'update company description',
                    type='textarea',
                    label='Description',
                    placeholder='Insert the description of the company.',
                    name='description',
                    value=${company.description},
                    options = null,
                    onInputBefore=null,
                    attributes = null,
                    success=null,
                    hasErrors=false,
                    errors=null
                )}"></th:block>
            </form>
            <!-- Members -->
            <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">Member name</th>
                    <th scope="col" class="text-center">Manager</th>
                    <th scope="col" class="text-center">Enabled</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="member : ${@comp.getMembers(company)}"
                    th:with="user=${@usr.getUser(member.value)}"
                >
                    <td th:text="${user.fullName}">Member Name</td>
                    <td class="text-center">
                        <form action="/manage/company/{companyId}/addManager/"
                              method="post"
                              class="checkBoxWithModal"
                        >
                            <th:block th:replace="~{layout/bootstrap.html :: inputWithFeedback(
                                id = |${user.id}ManagerCheckBoxInput|,
                                type = checkbox,
                                label = null,
                                placeholder = null,
                                name = 'managerUserId',
                                value = ${user.id},
                                options = null,
                                attributes = ${ {@comp.isManager(company, user.id) ? 'checked' : null} },
                                success = 'Manager added successfully',
                                hasErrors = false,
                                errors = null
                            )}"></th:block>
                            <th:block th:replace="~{layout/bootstrap.html :: modal(
                                id=|${user.id}ManagerCheckBoxModal|,
                                title='Modify company manager',
                                body='You are about to modify manager of the company. Do you want to continue?'
                            )}"></th:block>
                        </form>
                    </td>
                    <td class="text-center">
                        <form action="/manage/company/{companyId}/blockUser/"
                              method="post"
                              class="checkBoxWithModal"
                        >
                            <th:block th:replace="~{layout/bootstrap.html :: inputWithFeedback(
                                id = |${user.id}AcceptMemberCheckBox|,
                                type = checkbox,
                                label = null,
                                placeholder = null,
                                name = 'memberUserId',
                                value = ${user.id},
                                options = null,
                                attributes = ${ {@comp.isAccepted(company, user.id) ? 'checked' : null} },
                                success = null,
                                hasErrors = true,
                                errors = 'Member does have valid email address.'
                            )}"></th:block>
                            <th:block th:replace="~{layout/bootstrap.html :: modal(
                                id=|${user.id}AcceptMemberCheckBoxModal|,
                                title='Modify member access (accept | block)',
                                body='You are about to accept/block user. Do you want to continue?'
                            )}"></th:block>
                        </form>
                    </td>
                </tr>
                <tr th:with="userId='user2'">
                    <td th:text="${'David Ricardo Cuervo Ochoa Avila Rodrigez'}">Member Name</td>
                    <td class="text-center">
                        <form action="/manage/company/{companyId}/addManager/"
                              method="post"
                        >
                            <input type="checkbox"
                                   th:id="|${userId}EnabledCheckBoxInput|"
                                   th:value="${userId}"
                            >
                        </form>
                    </td>
                    <td class="text-center">
                        <form action="/manage/company/{companyId}/blockUser/">
                            <input type="checkbox" value="userId2" checked>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        </main>
    </body>
</html>