<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="form">

        <form th:method="${form.method}" th:action="${form.url}" th:name="${form.name}" >
            <div class="row">
                <div th:each="input : ${form.inputs}" class="my-2" th:classappend="${input.style_size}">
                    <label th:for="${input.id}" th:text="${input.label}" class="form-label">Label</label>
                    <input th:type="${input.type}" class="form-control"
                           th:name="${input.name}"
                           th:id="${input.id}"
                           th:required="${input.required} ? 'required' : null"
                           th:value="${input.value}" aria-describedby=""
                           th:classappend="${errors != null and errors.get(input.name) != null ? 'is-invalid' : ''}" >
                    <div th:if="${errors != null and errors.get(input.name) != null}" class="invalid-feedback">
                        <div th:each="error : ${errors.get(input.name)}">
                            <div th:text="${error}">error</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-grid gap-2 col-md-6 mx-auto">
                    <button type="submit" th:class="${form.button.class}" name="action" th:value="${form.action}" th:text="${form.button.text}">Submit</button>
                </div>
                <div th:if="${errors != null and errors.get('form') != null}" class="text-danger">
                    <div th:each="error : ${errors.form}">
                        <div th:text="${error}">error</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>