<!DOCTYPE HTML>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">La eTienda</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <!-- STYLES -->
    <link th:href="@{/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/bootstrap/icons/1.13.1/bootstrap-icons.min.css}" rel="stylesheet" />
    <link th:href="@{/styles/style-md.css}" rel="stylesheet" />
    <link th:href="@{/styles/style.css}" rel="stylesheet" />

    <!-- SCRIPTS -->
    <script th:src="@{/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <header>
        <nav class="navbar bg-body-tertiary" data-bs-theme="dark">

            <a class="navbar-brand mx-2" href="#">
                <i class="bi bi-shop"></i>
                La eTienda
            </a>

            <th:block sec:authorize="!isAuthenticated()">
                <ul class="navbar-nav order-md-last mx-2">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{${@tt.href('seo.signIn')}(redirect=${@tt.path})}">
                            <i class="bi bi-box-arrow-in-right"></i>
                            Sing In
                        </a>
                    </li>
                </ul>
            </th:block>

            <th:block sec:authorize="isAuthenticated()" th:with="user = ${@usr.currentUser}">
                <div class="navbar-item dropdown order-md-last mx-2">
                    <a class="dropdown-toggle btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-fill"></i>
                        <span th:text="${user.firstName}">Username</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{${@tt.href('seo.manage.file')}}"
                            >
                            <i class="bi bi-gear"></i>
                            Settings
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item"
                               th:href="${@tt.href('seo.logout')}">
                            <i class="bi bi-box-arrow-right"></i>
                            Log Out
                            </a>
                        </li>
                    </ul>
                </div>
            </th:block>

            <form class="w-100 w-md-50 m-1" role="search">
                <input class="form-control"
                       type="search"
                       placeholder="What do you want to do today?"
                       aria-label="Search"
                />
            </form>
        </nav>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#home" th:href="@{${@tt.href('seo.home.file')}}">
                        <i class="bi bi-house-door-fill"></i>
                    </a>
                </li>

                <th:block th:with="segments = ${@tt.segments}">
                    <li class="breadcrumb-item"
                        th:each="i : ${#numbers.sequence(0, segments.size()-1)}"
                        th:with="segment=${segments.get(i)}, path = ${@tt.getSegmentPath(segments, i)}"
                        th:classappend="${@tt.isActive(path) ? 'active' : null}"
                        th:aria-current="${@tt.isActive(path) ? 'page' : null}"
                    >
                        <a th:href="@{${path}}"
                           th:unless="${@tt.isActive(path)}"
                        >
                            <span th:text="${segment}"></span>
                        </a>

                        <span th:if="${@tt.isActive(path)}"
                              th:text="${segment}"
                        ></span>
                    </li>
                </th:block>
            </ol>
        </nav>
    </header>
    <main layout:fragment="content">
        <h1>Main</h1>
    </main>
    <footer>
        <div>URI: <span th:text="${@tt.uri}">home.html</span></div>
        <div>seo.home.file: <span th:text="${@tt.href('seo.home.file')}">/asdf</span></div>
        <div sec:authorize="hasAuthority('role_manager')">
            User is manager
        </div>
        <div th:if="${encodedSessionId} != null">
            Encoded Session ID: <span th:text="${encodedSessionId}">Session ID</span>
        </div>
        <div th:if="${sessionId} != null">
            Session ID: <span th:text="${sessionId}">Session ID</span>
        </div>
<!--        <div th:if="${_csrf.parameterName} != null">-->
<!--            <div>csrf.name: <span th:text="${_csrf.parameterName}">name</span></div>-->
<!--            <div>csrf.token: <span th:text="${_csrf.token}">Token</span></div>-->
<!--        </div>-->
        <div>
            Username: <span th:text="${#authentication.name}">Username</span>
        </div>

        <div sec:authorize="isAuthenticated()" th:with="user = ${@usr.currentUser}">
            <div>Id: <span th:text="${user.id}">id</span></div>
            <div>username: <span th:text="${user.username}">username</span></div>
            <div>email: <span th:text="${user.email}">email</span></div>
            <div>firstname: <span th:text="${user.firstName}">id</span></div>
            <div>lastname: <span th:text="${user.lastName}">lastname</span></div>
            <div>fullname: <span th:text="${user.fullName}">fullname</span></div>
        </div>

    </footer>

</body>
</html>