api:
  kc:
    admin:
      user:
        byUsername: ${api.kc.admin}/users?username={username}&exact=true
        byUserId: ${api.kc.admin}/users/{userId}
  kcUser:
    login:
      file: login
      uri: ${api.kcUser}/${api.kcUser.login.file}
    isUsernameValid:
      file: /isUsernameValid/{username}
      uri: ${api.kcUser}${api.kcUser.isUsernameValid.file}
    isUserIdValid:
      file: /isUserIdValid/{userId}
      uri: ${api.kcUser}${api.kcUser.isUserIdValid.file}
  company:
    url: http://company:${PORT_COMPANY}
    folder: /api/v0/company
    uri: ${api.company.url}${api.company.folder}
    create:
      file: create
      uri: ${api.company.uri}/${api.company.create.file}
    isValid:
      file: isValid/{companyId}
      uri: ${api.company.uri}/${api.company.isValid.file}
    find:
      file: find/{id}
      uri: ${api.company.uri}/${api.company.find.file}
    findByName:
      file: findByName/{name}
      uri: ${api.company.uri}/${api.company.findByName.file}
    update:
      file: update
      uri: ${api.company.uri}/${api.company.update.file}
    delete:
      file: delete/{id}
      uri: ${api.company.uri}/${api.company.delete.file}
    member:
      find:
        file: member/find/{companyId}/{userId}
        uri: ${api.company.uri}/${api.company.member.find.file}
      add:
        file: member/add/{companyId}/{userId}
        uri: ${api.company.uri}/${api.company.member.add.file}
      update:
        file: member/update
        uri: ${api.company.uri}/${api.company.member.update.file}
      delete:
        file: member/delete/{companyId}/{userId}
        uri: ${api.company.uri}/${api.company.member.delete.file}