api:
  kc:
    admin:
      user:
        byUsername: ${api.kc.admin}/users?username={username}&exact=true
        byUserId: ${api.kc.admin}/users/{userId}
  kcUser:
    login:
      file: login
      uri: ${api.kcUser}/${api.kcUser.login.file}
    isUsernameValid:
      file: /isUsernameValid/{username}
      uri: ${api.kcUser}${api.kcUser.isUsernameValid.file}
    isUserIdValid:
      file: /isUserIdValid/{userId}
      uri: ${api.kcUser}${api.kcUser.isUserIdValid.file}
  company:
    url: http://company:${PORT_COMPANY}
    folder: /api/v0/company
    uri: ${api.company.url}${api.company.folder}
    create:
      file: create
      uri: ${api.company.uri}/${api.company.create.file}
    find:
      file: find/{id}
      uri: ${api.company.uri}/${api.company.find.file}
    findByName:
      file: findByName/{name}
      uri: ${api.company.uri}/${api.company.findByName.file}
    delete:
      file: delete/{id}
      uri: ${api.company.uri}/${api.company.delete.file}